
#   _  __          _                      __ _      
#  | |/ /         | |   /\               /_ | |     
#  | ' / __ _ _ __| |  /  \__   _____  ___| | | __  
#  |  < / _` | '__| | / /\ \ \ / / _ \/ __| | |/ /  
#  | . \ (_| | |  | |/ ____ \ V /  __/ (__| |   <   
#  |_|\_\__,_|_|  |_/_/    \_\_/ \___|\___|_|_|\_\  
#  https://github.com/KarlAvec1K/anet-et4
#           _   _ ______ _______   ______ _______ _  _     _  ___      _____ _____  _____  ______ _____  
#     /\   | \ | |  ____|__   __| |  ____|__   __| || |   | |/ / |    |_   _|  __ \|  __ \|  ____|  __ \ 
#    /  \  |  \| | |__     | |    | |__     | |  | || |_  | ' /| |      | | | |__) | |__) | |__  | |__) |
#   / /\ \ | . ` |  __|    | |    |  __|    | |  |__   _| |  < | |      | | |  ___/|  ___/|  __| |  _  / 
#  / ____ \| |\  | |____   | |    | |____   | |     | |   | . \| |____ _| |_| |    | |    | |____| | \ \ 
# /_/    \_\_| \_|______|  |_|    |______|  |_|     |_|   |_|\_\______|_____|_|    |_|    |______|_|  \_\

# This file contains common pin mappings and configuration for the Anet ET4 printer for klipper.

[verify_heater extruder]
max_error: 160
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time:
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[verify_heater heater_bed]
max_error: 160
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time:
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.
