
#   _  __          _                      __ _      
#  | |/ /         | |   /\               /_ | |     
#  | ' / __ _ _ __| |  /  \__   _____  ___| | | __  
#  |  < / _` | '__| | / /\ \ \ / / _ \/ __| | |/ /  
#  | . \ (_| | |  | |/ ____ \ V /  __/ (__| |   <   
#  |_|\_\__,_|_|  |_/_/    \_\_/ \___|\___|_|_|\_\  
#
#           _   _ ______ _______   ______ _______ _  _     _  ___      _____ _____  _____  ______ _____  
#     /\   | \ | |  ____|__   __| |  ____|__   __| || |   | |/ / |    |_   _|  __ \|  __ \|  ____|  __ \ 
#    /  \  |  \| | |__     | |    | |__     | |  | || |_  | ' /| |      | | | |__) | |__) | |__  | |__) |
#   / /\ \ | . ` |  __|    | |    |  __|    | |  |__   _| |  < | |      | | |  ___/|  ___/|  __| |  _  / 
#  / ____ \| |\  | |____   | |    | |____   | |     | |   | . \| |____ _| |_| |    | |    | |____| | \ \ 
# /_/    \_\_| \_|______|  |_|    |______|  |_|     |_|   |_|\_\______|_____|_|    |_|    |______|_|  \_\

# This file contains common pin mappings and configuration for the Anet ET4 printer for klipper.

[extruder]
step_pin: PB9
dir_pin: PB8
enable_pin: !PE0
full_steps_per_rotation: 200
gear_ratio: 3:1
rotation_distance: 23.132
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0 # END_CONTROL
sensor_pin:  PA1 # TEMP_EXB1
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 20.375
pid_Ki: 0.844
pid_Kd: 123.016
min_temp: 0
min_extrude_temp: 170
max_temp: 300

[heater_bed]
heater_pin: PE2 # BED_CONTROL
sensor_pin: PA4 # TEMP_BED
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 70.721
pid_Ki: 1.981
pid_Kd: 631.118
min_temp: 0
max_temp: 125
